@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;700&display=swap');
body {
    font-family: 'Roboto' , sans-serif;
    background-image: url(images/patt.png);
}
* {
    box-sizing: border-box;
}
.container {
    width: 1200px;
    padding-left: 15px;
    padding-right: 15px;
    margin: 0 auto;
}
.row::after, .menu::after, .inmenu::after, .filter::after, .products::after, .row-main::after, .img-out::after, image::after {
    content: "";
    display: block;
    clear: both;
}
.row {
    margin-left: -15px;
    margin-right: -15px;
}
.col-12 {
    width: 100%;
}
.col-9 {
    width: 75%;
}
.col-6 {
    width: 50%;
}
.col-3 {
    width: 25%;
}
.col-4 {
    width: 33.33333%;
}
.col-8 {
    width: 66.66667%;
}
[class*="col-"] {
    float: left;
    padding-left: 15px;
    padding-right: 15px;
}
.header {
    background-color: rgba(255, 255, 255, 0.75);
    padding: 25px 0;
}
.logo {
    margin-top: 7px;
}
.menu li {
    float: left;
    width: 25%;
    border-left: 1px solid #2c71b8;
}
.menu li:last-child {
    border-right: 1px solid #2c71b8;
}
.menu a {
    display: block;
    height: 50px;
    text-decoration: none;
    color: #2c71b8;
    font-size: 21px;
    text-align: center;
    line-height: 50px;
}
.menu a:hover {
    background-color: #2c71b8;
    color: white;
}
.pro{
    position: relative;
    background-image: url("images/down_icon.png");
    background-position: right 5% top 50%;
    background-repeat: no-repeat;
    background-size: 15px 15px;
}
.inmenu {
    position: absolute;
    display: none; 
    left: -1px;
}
.pro:hover > a {
    background-color: #2c71b8;
    color: white;
}
.pro:hover .inmenu {
    display: block;
}
.inmenu li {
    width: 200%;
    border: none;
}
.inmenu a {
    background-color: #2c71b8;
    color: #e4edf6;
    border: none;
    display: block;
    text-align: left;
    height: 40px;
    border: none;
    padding: 15px;
    line-height: 15px;
}
.inmenu a:hover, .inmenu a:focus {
    background-color: #e4edf6;
    color: #2c71b8;
}
.form-search-header input {
    border: none;
    background-color: transparent;
    height: 30px; 
    margin-right: 15px;
    margin-left: 15px;
    font-size: 21px;
    font-weight: lighter;
    width: 124px;
}
.form-search-header {
    border: 1px solid #2c71b8;
    display: inline-block;
    position: relative;
    height: 40px;
    width: 200px;
}
input::placeholder {
    color: #2c71b8;
}
.form-search-header input:focus {
    outline: none;
}
.search {
    background-color: #2c71b8;
    border: none;
    height: 30px;
    width: 30px;
    margin: 5px;
}
.basket {
    display: inline-block;
    border: none;
    position: relative;
    background-color: #ffffff;
    height: 40px;
    width: 40px;
}
.basket img {
    margin: 10px;
}
.number {
    display: block;
    position: absolute;
    background-color: #2c71b8;
    color: #e4edf6;
    border: 1px solid #2c71b8;
    border-radius: 50%;
    font-size: 12px;
    top: -9px;
    left: -9px;
    width: 20px;
    height: 20px;
    text-align: center;
    line-height: 20px;
}

.slider {
    height: 400px;
    background-color: #2c71b8;
    border: 1px solid #ffffff;
}

.filter {
    background-color: rgba(255, 255, 255, 0.25);
    color: white;
    border-right: 1px solid #ffffff;
    padding-left: 30px;
    font-size: 21px;
}
.filter p{
    font-weight: bold;
    margin-bottom: -3px;
    padding-left: 4px;
}
.filter input {
    margin: 25px 12px 0px 0px;
}
.filter-device-type {
   padding-top: 33px;
}
.filter-color, .filter-ram {
    margin-top: 65px;
}
.filter-more-options a {
    text-decoration: none;
    color: #ffffff;
}
.filter-more-options {
    margin-top: 30px;
}
.filter > button {
    background-color: #2c71b8;
    color: #ffffff;
    border: 1px solid #ffffff;
    margin-bottom: 30px;
    margin-top: 30px;
    width: 90%;
    height: 50px;
    font-weight: bold;
    font-weight: 21px;
}
.breadcrumbs, .breadcrumbs a{
    color: #96b8dc;
    font-size: 14px;
    text-decoration: none;
    margin-top: 30px;
    margin-bottom: 30px;
}
.breadcrumbs a:last-child {
    text-decoration: underline;
}
#sort {
    background-color: #2c71b8;
    color: white;
    border: 1px solid #ffffff;
    outline: none;
    font-size: 21px;
    height: 40px;
}
.name-of-page {
    color: white;
    font-size: 48px;
    font-weight: bold;
}
.product {
    border: 1px solid #ffffff;
    color: white;
    margin-bottom: 30px;
    margin-top: 50px;
}
.product-title {
    font-size: 30px;
    font-weight: bold;
    padding-top: 15px;
    padding-left: 15px;
}
.product-description, .product-features {
    padding-left: 15px;
    padding-top: 20px;
    font-size: 21px;
}
.product-features > span {
    text-transform: uppercase;
    font-size: 21px;
    font-weight: bold;
}
.product-price {
    font-size: 48px;
    font-weight: bold;
    text-align: center;
    padding-top: 25px;
}
.product-price > span {
    vertical-align: super;
    font-size: 35px;
}
.product-image {
    background-color: rgba(255, 255, 255, 0.75);
    height: 180px;
    position: relative;
    margin: -1px;
    padding: 10px;
    border: 1px solid #ffffff;
}
.product-image > img {
    position: absolute;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
}
.zoom , .like {
    border: 1px solid #2c71b8;
    position: absolute;
    width: 28px;
    height: 28px;
    right: 9px;
    padding: 4px;
}
.zoom {
    top: 9px;
    background-image: url("images/zoom.png");
    background-repeat: no-repeat;
    background-position: top 50% left 50%;
}
.zoom:hover {
    background-color: #2c71b8;
    background-image: url("images/zoomw.png");
    background-repeat: no-repeat;
    background-position: top 50% left 50%;
}
.like {
    top: 50px;
    background-image: url("images/like.png");
    background-repeat: no-repeat;
    background-position: top 50% left 50%;
} 
.like:hover {
    background-color: #2c71b8;
    background-image: url("images/likew.png");
    background-repeat: no-repeat;
    background-position: top 50% left 50%;
}

.product-button-more, .product-button-add {
    border: 1px solid white;
    background-color: #2c71b8;
    color: white;
    width: 210px;
    margin: auto;
    height: 50px;
    margin-top: 30px; 
    font-size: 21px;
    font-weight: bold;
}
.product-button{
    text-align: center;
}
.product-button-add {
    position: relative;
    margin-top: 15px;
    margin-bottom: 30px; 
}
.product-button-add:hover, .product-button-more:hover {
    background-color: rgba(255, 255, 255, 0.25);
    border: 1px solid white;
    color: white;
} 
.product-button-add > img {
    position: absolute;
    right: 15px;
    bottom: 17px;
}
.load-more {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 90px;
}
.load-more a {
    color: white;
    font-size: 36px;
    text-decoration: none;
}  



